<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=BookManagement;User Id=root;Password=your_password;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SomeSetting" value="SomeValue" />
  </appSettings>
</configuration>